{% extends 'base_store.html' %}
{% block content %}
{% load static %}

<main class="main-cart">
    <div class="container-cart">
        <div class="header-cart">
            <h1>Carrito de Compras</h1>
        </div>
        <div class="cart-items">
            {% if detalles %}
                {% for detalle in detalles %}
                    <div class="cart-item">
                        <img src="{{ detalle.idProducto.imagen.url }}" alt="Item 1">
                        <div class="cart-item-details">
                            <p class="cart-item-title">{{ detalle.idProducto.Nombre }}</p>
                            <p class="cart-item-price">${{ detalle.idProducto.Precio }}</p>
                            <div class="cart-item-quantity">
                                <label for="quantity1">Cantidad:</label>
                                <input type="number" id="quantity1" name="quantity1" value="{{ detalle.Cantidad }}" min="1">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay productos en el carrito</p>
            {% endif %}
            <!-- Agrega más elementos del carrito aquí -->
        </div>
        <div class="cart-summary">
            <h2>Resumen del Pedido</h2>
            <p>Total: ${{ total }}</p>
            {% if  cantidad_carrito > 0 %}
                <a href="{% url 'generar_factura' %}" class="checkout-button">Proceder al Pago</a>
            {% else %}
                <a href="" class="checkout-button">Proceder al Pago</a>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}